<div>
  <div class="header">
    <app-header-with-tag
      [header]="'Template'"
      [tag-line]="'Using custom components'"
    >
    </app-header-with-tag>
  </div>
  <div>
    <mat-grid-list cols="3" rowHeight="250px">
      <mat-grid-tile>
        <div class="header-block">
          <app-header-with-tag
            [header]="'Form Field'"
            [tag-line]="'Outline form field'"
          ></app-header-with-tag>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Placeholder text" />
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <input matInput />
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput value="{{ thirdText }}" />
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field> -->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile>
        <div class="header-block">
          <app-header-with-tag
            [header]="'Checkbox'"
            [tag-line]="'Basic check box'"
          ></app-header-with-tag>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="example-container">
          <mat-checkbox disableRipple></mat-checkbox>
          <!-- <br /><br />
          <mat-checkbox value="true" [disableRipple]="true"></mat-checkbox> -->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <mat-grid-list class="calender" cols="3" rowHeight="500px">
      <mat-grid-tile>
        <div class="header-block">
          <app-header-with-tag
            [header]="'Date Picker'"
            [tag-line]="'Date picker with custom icon'"
          ></app-header-with-tag>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="example-container">
          <!-- <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker1" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field> -->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<button (click)="c()">button</button>
