.header {
    background-color: color-palette(azure, 5);
    padding: 48px 48px 68px;
}

.title {
    color: color-palette(navy);
    font-size: 24px;
}

.tag-line {
    color: color-palette(navy, 50);
    margin-top: 4px;
}
